PORT=4000

DATABASE_URL="mysql://root:root@localhost:3306/formnotify"

JWT_SECRET="change_this_secret"

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM="FormNotify <no-reply@formnotify.local>"